@use 'src/styles/constants/colors';
@use 'src/styles/mixins/typography';

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .name {
    @include typography.font(1rem, 700, 1.1875rem);
  }
}

.large,
.medium,
.small {
  &.inputContainer {
    background-color: colors.$grey-50;
  }

  &:hover {
    background: colors.$grey-50;

    .name {
      color: colors.$primary;
    }
  }

  .invalid::after {
    color: colors.$secondary-02;
    content: '중복된 이름입니다.';
  }
}

.large {
  width: 15rem;
  height: 3.75rem;
  padding: 1.375rem 1.25rem;
  cursor: pointer;
  border: 0.0625rem solid colors.$grey-100;
  border-radius: 0.625rem;

  .name {
    @include typography.font(1rem, 700, 1.1875rem);
  }
}

.medium {
  width: 7.6875rem;
  height: 2.5rem;
  padding: 0.75rem 1.25rem;
  border: 0.0625rem solid colors.$grey-100;
  border-radius: 0.625rem;

  .name {
    @include typography.font(0.875rem, 500, 1rem);
  }
}

.small {
  width: 3.75rem;
  height: 1.5rem;

  .name {
    @include typography.font(0.875rem, 500, 1rem);
  }
}
