@use 'src/styles/constants/colors';
@use 'src/styles/mixins/typography';

.dashboard {
  width: 100%;
  height: 109.625rem;

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;

    .title {
      @include typography.font(1.625rem, 900, 1.875rem);
    }
  }
}
