$grey-50: #edeff1;
$grey-100: #d1d8dc;
$grey-300: #94a2ad;
$grey-800: #3a474e;

//
$primary: #586cf5;
$secondary-01: #e5f4fd;
$secondary-02: #ea3a4b;

//
$white: #fff;
$black: #000;

//
$main-bg: #f6f7f8;
