@use 'src/styles/constants/colors';

.layout {
  display: flex;
  width: 1440px;
  height: 1836px;
  background: colors.$main-bg;

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    .line {
      width: 1040px;
      border: 1px solid colors.$grey-50;
    }
  }
}
